{% extends 'base.html.twig' %}

{% block body %}

{%  for user in allCandidate %}
    <div  class="py-3 border-bottom"><a href ={{ path('singleProfilMissions', {idProfil:user.profil.id, idUser:user.id}) }}>{{ user.nom | upper }} {{ user.prenom }}</a></div>
{% endfor %}

{% endblock %}