{% extends 'base.html.twig' %}

{% block body %}

    <h1>Ressource indisponible</h1>

    <p>Pour des raisons de sécurité, veuillez vous reconnecter :</p>

    <p><a href="{{ path('app_logout') }}">return to the homepage</a></p>

{% endblock %}