{% extends 'base.html.twig' %}

{% block title %}Category Management{% endblock %}

{% block body %}

    <h1>GESTION DES CATEGORIES</h1>

    <h2>Renseigner la nouvelle valeur</h2>

    <div class="border-top border-bottom my-5">
        {{ form_start(modifCatForm) }}
        <div class="d-flex justify-content-evenly py-5">
            <div>{{ form_row(modifCatForm.nom) }}</div>
            <div><button class="btn btn-primary">Modifier</button></div>
        </div>
    {{ form_end(modifCatForm) }}
    </div>

    <a class="text-decoration-none" href= {{  path('manageCategory')  }}>
        <button class="btn-sm btn btn-secondary">Annuler</button>
    </a>

{% endblock %}



